@import "@styles/settings/_settings";

.detailPanel {
    position: absolute;
    width: 500px;
    top: 60px;
    bottom: 15px;
    right: 10px;

    background-color: $color-cream;
    z-index: 1;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.panelTitle {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panelBody {
    flex-grow: 1;
    overflow-y: auto;
}

.panelFooter {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.countryTitle {
    font-weight: 700;
}

.bookTile {
    display: flex;
    flex-direction: row;
    height: 16vh;
    align-items: center;
}

.imageContainer {
    // flex: 0 1 14.5vh;
    width: 8vw;
    height: 14.5vh;
    background-color: $color-dark-cream;
    overflow: hidden;
}

.tileTitle {
    font-weight: 700;
}

.detailContainer {
    width: 100%;
    height: 13vh;
    margin-left: 1rem;
}

.bookTile {
    background-color: $color-cream;
}

.bookTile:hover {
    background-color: $color-dark-cream;
}

.description {
    font-size: 14px;
}

.detailButton {
    background-color: $color-cream;
    color: #000000;
    height: 30px;
    border: none;
}

.detailButton:hover {
    background-color: $color-dark-cream;
    height: 30px;
}

.closeButton {
    background-color: transparent;
    color: #000000;
    border: none;
    font-size: 18px;
}