@import "@styles/settings/_settings";

.header {
  height: 5vh;
  width: 100%;
  font-size: 1em;
  color: white;
  background-color: $color-blue;
  // padding: 1.5em 0;
  margin: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
}

.headerTitle {
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'PT Serif';
  font-style: italic;
  margin: 0;
}

.menuIcon {
  justify-self: flex-end;
}
