@import "@styles/settings/_settings";

.header {
  height: 5vh;
  width: 100%;
  color: #fff;
  background-color: $color-blue;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;
}

.headerTitle {
  font-size: 1.5em !important;
  font-weight: bold;
  font-family: 'PT Serif';
  font-style: italic;
  color: #fff !important;
  margin: 0;
}

.headerIcon {
  color: #fff !important;
  fill: #fff !important;
  svg {
    color: white !important;
    fill: #fff;
  }
}
